*{
    margin: 4px;
}
.headerpic{
    width: 1250px;
    height: 256px;
    
    
}
nav ul{
    text-align: center;
}
nav li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  
}
nav li a{
    padding: 0.50rem;
    color: yellow;
    background-color: black;
    text-decoration: none;


}

table{
  padding: 1rem;
  text-align: center; 
   margin: 4px 66px;
   background-color: rgb(9, 9, 9);
   color: red;
   
}
.tablehead{
    font-family: arial;
    font-style: oblique;
    color: rgb(239, 22, 14);
    background-color:rgb(217, 227, 24);
}
tbody tr{
   
    background-color: rgb(217, 227, 24);
    color: rgb(239, 22, 14);
}
.item{
    width: 1500px;
}